version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.13
    filters:
       branches:
          only: master
    working_directory: ~/repo
    steps:
      - run: pwd
      - checkout
      - run: go version
      - run:
          name: "build golang"
          command: >
            CGO_ENABLED=0 GOOS=linux go build -o test -ldflags '-s -w'
      - run:  ./test
  deploy:
    docker:
      - image: circleci/golang:1.13
    filters:
      branches:
        only: test
    steps:
      - run: echo 'hello world'
      - run: ./deployment/deploy.sh

workflows:
  version: 2
  build:
    jobs:
      - "build"
      - "deployment"
